<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SkiaSharp" version="1.55.1" targetFramework="monoandroid71" />
  <package id="SkiaSharp.Views" version="1.55.1" targetFramework="monoandroid71" />
  <package id="SkiaSharp.Views.Forms" version="1.55.1" targetFramework="monoandroid71" />
  <package id="Telerik.UI.for.Xamarin.Common" version="2017.2.503.10" targetFramework="monoandroid71" />
  <package id="Telerik.UI.for.Xamarin.DataControls" version="2017.2.503.10" targetFramework="monoandroid71" />
  <package id="Telerik.UI.for.Xamarin.Primitives" version="2017.2.503.10" targetFramework="monoandroid71" />
  <package id="Telerik.UI.for.Xamarin.SkiaSharp" version="2017.2.503.10" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.3.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Design" version="23.3.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v4" version="23.3.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.3.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.CardView" version="23.3.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="23.3.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.3.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v8.RenderScript" version="23.3.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.3.0" targetFramework="monoandroid71" />
  <package id="Xamarin.Forms" version="2.3.4.247" targetFramework="monoandroid71" />
</packages>