CustomizableListView/CustomizableListView/CustomizableListView.Droid/bin/
CustomizableListView/CustomizableListView/CustomizableListView.Droid/obj/
CustomizableListView/CustomizableListView/CustomizableListView.iOS/bin/
CustomizableListView/CustomizableListView/CustomizableListView.iOS/obj/
CustomizableListView/CustomizableListView/CustomizableListView/bin/
CustomizableListView/CustomizableListView/CustomizableListView/obj/
CustomizableListView/packages/
*.suo
